.nav-bar nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}


.nav-bar nav ul li a:hover {
  color: blue;
}

.content a:first-child {
  font-weight: bold;
}


.content a:last-child {
  color: green;
}


.content:hover {
  background-color: #ddd;
}


.nav-bar h1::before {
  content: "🌟 ";
}


.content article h3::first-letter {
  font-size: 150%;
  font-weight: bold;
  color: #FF5733;
}

.content article p::first-line {
  text-transform: uppercase;
}


.footer::after {
  content: "👣";
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
}
